.card {
    max-width: 500px;
    margin: 50px 5px;
}

.card-header {
    background-color: #fff !important;
    color: #df744a;
}

.card-body {
    color: #df744a;
}

.list-group {
    box-sizing: border-box;
    padding-left: 0;
    list-style-type: none;
}

.list-item {
    padding: 5px;
}

.fa-check {
    padding-top: 0.2em;
    color: var(--primary);
}

.fa-trash {
    color: var(--danger);
}


.list-item:nth-of-type(odd) {
    background-color: #fedcd2;
}
